<!DOCTYPE html>
<html>
    <head>
        <title>Blog di Alberto</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog di Alberto</a></h1>
        </header>

        <article>
            <time>pubblicato: 01.03.2022, 20:45</time>
            <h2><a href="">Il mio primo post</a></h2>
            <p>Aenean eu leo quam Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi
                porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>pubblicato: 01.03.2022, 20:55</time>
            <h2><a href="">Il mio secondo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>
